.App-title {
	text-align: center;
	margin-bottom: 10%;
}

.App {
  margin: auto;
  text-align: center;
  font-size: 35px;
  margin-top: 10%;
  width: 40%;
  height: 250px;
  padding: 45px;
  border: 3px solid grey;
  border-radius: 25px;
}

.pass-input {
	margin-right: 5px;

}